{% extends 'base.html.twig' %}
{% block body %}
    <div {{ stimulus_controller('hello') }} id="content">
        <input type="hidden" value="{{ mercure('/predictions') }}" {{ stimulus_target('hello', 'predictionsUrl') }}>
        <input type="hidden" value="{{ mercure('/freeSpots') }}" {{ stimulus_target('hello', 'freeSpotsUrl') }}>
        <div id="camera" style="width: 640px;height: 360px">
            <img src='http://127.0.0.1:8090/live.mjpg' width="640" height="360">
            <canvas id="spot-overlay" {{ stimulus_target('hello', 'camera') }} width="640" height="360"></canvas>
        </div>
        <div id="control">
            <button {{ stimulus_action('hello', 'addSpot') }}>
                Добавить мето
            </button>
            <button {{ stimulus_action('hello', 'saveSpots') }}>
                Сохранить
            </button>
            <button {{ stimulus_action('hello', 'removeSpot') }}>
                Удалить
            </button>
            <label><input type="radio" name="show"
                          value="prediction" {{ stimulus_action('hello', 'switchMonitoring') }}>Предсказание</label>
            <label><input type="radio" name="show" value="spot" {{ stimulus_action('hello', 'switchMonitoring') }}
                          checked>Места</label>
            <label>
        </div>
    </div>
{% endblock %}
